*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    letter-spacing: 0.07em;
}

/* mobile display none */
.dnone, m-contact, m-about{
    display: none;
}

.m-margin, .m-abouthome, .m-logo img, .m{
    display: none;
}

/*  */

body{
    background-color: rgb(254, 255, 245);
}

h1, h2, h3, p{
    color: rgb(70, 51, 0);
}

.sub{
    color: rgb(153, 138, 0);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(254, 255, 245) ;
}

header{
    position: fixed ;
    z-index: 20;
    width: 100%;
    margin-top: 0em;
    background-color: rgb(254, 255, 245);
    top: 0em;
}

nav img{
    margin-top: 1em;
    margin-left: 1em;
}

nav ul{
    background-color: rgb(70, 51, 0);
    margin-top: 1em;
    margin-right: 1em;
    padding: 1em;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    font-family: sans-serif;
    text-decoration: none;
    margin: 0em;
    padding: 0em;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
}

nav ul li a:hover{
    color: rgb(70, 51, 0);
    display: block;
}

nav ul li:hover{
    color: rgb(70, 51, 0);
    background-color: rgb(254, 255, 245) ;
}


.d{
    border: 1px solid rgb(70, 51, 0);
}

.container{
    margin-top:5em;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .abouthome{
    margin-left: 3em;
}

.container img{
    margin: 1em 2em;
}

.contactcontainer{
    display: flex;
    justify-content: space-around;
}

.maincontainer{
    padding: 1em 3em;
}

.peoples a{
    display: block;
    color: white;
    background-color: rgb(70, 51, 0) ;
    margin: 1em 0em;
    padding: 1em;
    width: 5em;
    height: 1em;
    text-decoration: none;
    text-align: center;
}

.peoples a:hover{
    color: rgb(70, 51, 0);
    background-color: rgb(254, 255, 245);
    border: 1px solid rgb(70, 51, 0);
}

.adress{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adress a{
    display: block;
    color: white;
    background-color: rgb(70, 51, 0) ;
    margin: 1em 0em;
    padding: 1em;
    width: 10em;
    height: 1em;
    text-decoration: none;
    text-align: center;
}

.adress a:hover{
    color: rgb(70, 51, 0);
    background-color: rgb(254, 255, 245);
    border: 1px solid rgb(70, 51, 0);
}

/* services started */

.servicesmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.services{
    border: 2px solid rgb(70, 51, 0);
    width: 40em;
    padding: 0.5em;
    margin: 1em;
}

.services ul li{
    color: rgb(70, 51, 0) ;
}

.pcenter{
    line-height: 0.2em;
}

.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer a{
    display: flex;
    color: white;
    background-color: rgb(70, 51, 0) ;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.5em 1em;
    height: 1.5em;
    align-items: center;
}

/* mobile size */

@media only screen and (max-width: 768px) {

    *{
        font-family: sans-serif ;
        font-weight: bold;
        letter-spacing: normal;
    }
    
    body{
        background-color: rgb(254, 255, 245);
        font-size: 0.6em;
    }
    
    h1, h2, h3, p{
        color: rgb(70, 51, 0);
    }
    
    .sub{
        color: rgb(153, 138, 0);
    }

    .m{
        border: 1px solid rgb(70, 51, 0);
    }

    /* display none from desktop */
    
    .header, header, nav img, nav ul li, nav ul li a, .container, .container .abouthome, .container img, .contactcontainer, .maincontainer, .peoples a, .adress, .adress a, .servicesmain, .services, .services ul li, .pcenter, .d{
        display: none;
    }

    .dnone{
        display: inline;
    }

    /* mobile css */

    m-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgb(70, 51, 0);
        position: fixed;
        top: 0;
        z-index: 10;
        background-color: rgb(254, 255, 245);
    }

    m-header img{
        margin: 1em;
    }

    m-header .burger{
        margin-right: -4em;
    }

    m-header ul li{
        list-style-type: none;
    }

    /* droplist */

    .dropbtn{
        border: 0em;
        background-color: rgb(254, 255, 245) ;
        padding: 0em;
    }

    .dropdown-content{
        background-color:rgb(70, 51, 0) ;
        padding: 0.5em;
        text-align:left;
        width: 6em;
        margin-right: 3em;
        margin-left: -4.4em;
        display: none;
        position: fixed;
        font-size: 1.3em;
    }

    .dropdown-content a{
        color:rgb(254, 255, 245) ;
        text-decoration: none;
        z-index: 20;
        margin: 0.5em;
        line-height: 2em;
        display: block;
        padding: 0.2em 0.5em;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a:hover{
        background-color: rgb(254, 255, 245) ;
        color:rgb(70, 51, 0) ;
    }

    .m{
        display: block;
    }

    /* services */

    .m-margin{
        display: flex;
        justify-content: space-between;
        margin-left: 2em;
        align-items: center;
    }

    .m-abouthome{
        line-height: 2.5em;
        display: block;
    }

    .m-logo img{
        margin-right: 2em;
        display: block;
    }

    .m-main{
        margin-top: 7em;
    }

    .m-maincontainer{
        display: block;
    }

    .m-services{
        border: 2px solid rgb(70, 51, 0);
        width: 25em;
        margin: 2em 0em;
        padding: 1em;
    }

    .m-left{
        margin-left: 2em;
        align-items: center;
    }

    m-contact, m-about{
        display: block;
    }

    .m-peoples{
        border: 2px solid rgb(70, 51, 0);
        width: 23em;
        padding: 2em 2em;
        margin: 2em 0em;
    }

    .m-peoples img{
        margin: 0em 3.5em;
    }

    .m-peoples a{
        color: white;
        background-color: rgb(70, 51, 0) ;
        text-decoration: none;
        font-size: 1.2em;
        padding: 0.5em 1em;
        line-height: 3em;
    }

    .m-peoples a:hover{
        color: rgb(70, 51, 0) ;
        background-color: rgb(254, 255, 245);
        border: 2px solid rgb(70, 51, 0);
    }

    .m-topmargin{
        margin-top: 0em;
    }

    m-about{
    line-height: 2em;        
    }

    .m-adress{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -2em;
    }

    .m-adress a{
        display: flex;
        color: white;
        background-color: rgb(70, 51, 0) ;
        text-decoration: none;
        font-size: 1.2em;
        padding: 0.5em 1em;
        height: 2em;
        align-items: center;
    }

    .m-adress a:hover{
        color: rgb(70, 51, 0) ;
        background-color: rgb(254, 255, 245);
        border: 2px solid rgb(70, 51, 0);
    }

    .footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer a{
        display: flex;
        color: white;
        background-color: rgb(70, 51, 0) ;
        text-decoration: none;
        font-size: 1.2em;
        padding: 0.5em 1em;
        height: 1.5em;
        align-items: center;
    }

}